<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android, io.sentry.android" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"/> -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_ADSERVICES_ATTRIBUTION" />

    <!--  if your minSdkVersion < 16, this would make usable on minSdkVersion >= 14-->
<!--    <uses-sdk-->
<!--        tools:overrideLibrary="io.sentry.android"-->
<!--        tools:ignore="MultipleUsesSdk" />-->

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${applicationName}"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true">


        <activity
            android:name=".views.SuccessOrderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

        <activity
            android:name=".views.SubContractorActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".views.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".views.QRScanActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Base" />

        <activity
            android:name=".views.PrivacyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Base" />


        <activity
            android:name=".views.LoginScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Base"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".views.BaseActivity" />


        <!--    NOTE: Replace the test DSN below with YOUR OWN DSN to see the events from this app in your Sentry project/dashboard-->
        <meta-data android:name="io.sentry.dsn" android:value="https://0a76688a0b5f4ad3a28ccac1f797f4c2@glitchtip.mitwill.com/5" />
        <!--    how to enable Sentry's debug mode-->
        <meta-data android:name="io.sentry.debug" android:value="${sentryDebug}" />
        <!--    how to set an environment-->
        <meta-data android:name="io.sentry.environment" android:value="${sentryEnvironment}" />

        <!-- Set tracesSampleRate to 1.0 to capture 100% of transactions for performance monitoring.
            We recommend adjusting this value in production. -->
        <meta-data android:name="io.sentry.traces.sample-rate" android:value="1.0" />
        <!-- Enable user interaction tracing to capture transactions for various UI events (such as clicks or scrolls). -->
        <meta-data android:name="io.sentry.traces.user-interaction.enable" android:value="true" />

    </application>

</manifest>